<ng-container *ngFor="let post of posts">
    <div class="popuplar-preview">
        <span class="popular-rank">
            {{ post + 1 }}.
        </span>
        <div class="popular-post">
            <span class="post-title">
                테스트
            </span>
            <div class="post-user">
                <div class=info>
                    <a><div class="user-name">테스트</div></a>
                    <div class="post-time">2020년 2월 3일</div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
