<div mat-dialog-content class="publish-content">

    <div class="content-left">

        <p class="title">포스트 미리보기</p>
        <div class="preview-image">
            <img class="thumb"  *ngIf="post.thumb; else notThumb" [src]=post.thumb>
        </div>
        <div class="post-thumb-submit">
            <input class="input-file" type="file" accept="image/*" #postImageInput (change)=saveThumb(postImageInput.files)>
            <button class="btn-upload" mat-stroked-button color="primary" (click)=postImageInput.click()>업로드</button>
            <button class="btn-remove" mat-stroked-button>제거</button>
        </div>
        <p class="post-title">{{ post.title }}</p>
        <p class="post-description">{{ post.description }}</p>

    </div>

    <div class="content-right">

        <p class="title">태그<span class="help">엔터키로 입력이 가능합니다.</span></p>
        <div class="tag-input">
            <mat-chip-list #chipList aria-label="Tag selection">
                <mat-chip *ngFor="let tag of post.tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
                    {{ tag }}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input type="text"
                    #tagBox
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
        </div>

        <p class="title margin-top">
            <mat-icon class="icon" *ngIf="post.open">lock_open</mat-icon>
            <mat-icon class="icon" *ngIf="!post.open">lock</mat-icon>
            <span>포스트 공개여부</span>
        </p>
        <mat-radio-group color="primary" [value]=post.open aria-label="Select an option" (change)=onRadioChange($event)>
            <mat-radio-button [value]=true>공개</mat-radio-button>
            <mat-radio-button [value]=false>비공개</mat-radio-button>
        </mat-radio-group>

        <div mat-dialog-actions>
            <button mat-flat-button color="primary" [disabled]=disabled (click)="onSubmit()">작성하기</button>
            <button mat-flat-button (click)="onNoClick()">취소</button>
        </div>

    </div>

</div>

<ng-template #notThumb>
    <div class="not-thumb" *ngIf="!post.thumb">사진을 업로드 해주세요.</div>
</ng-template>