.publish-content {
    display: flex;
    flex-direction: row;
    padding: 0 !important;
    overflow: inherit !important;
}

.content-left {
    height: 100%;
    padding: 10px 20px 10px 20px;
    flex: 0.8;
}

.content-right {
    height: 100%;
    padding: 10px 20px 10px 20px;
    flex: 1.2;
}

.title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0px;
    .help {
        font-size: 12px;
        font-weight: 300;
    }
    .icon {
        font-size: 20px !important;
        height: 20px !important;
        width: 20px !important;
        color: rgba(0,0,0,.54);
    }
    span {
        margin-left: 5px
    }
}

.post-title {
    margin: 10px 0 0 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    word-break: break-all;
}

.post-description {
    display: -webkit-box;
    margin: 5px 0 0 0;
    font-size: 14px;
    line-height: 20px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.btn-upload,
.btn-remove {
    font-weight: 500 !important;
    height: 30px !important;
    line-height: 30px !important;
}

.preview-image {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 160px;
    background-color: #f6f6f6;
    /* border: 1px solid rgba(0,0,0,.15); */
}

.thumb {
    width: 100%;
    height: 160px;
    object-fit: contain;
}

.not-thumb {
    letter-spacing: 0;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0,0,0,.54);
    fill: rgba(0,0,0,.54);
}

.tag-input {
    padding: 6px 0 6px 10px;
    background-color: #f6f6f6;
    border: 1px solid rgba(0,0,0,.15);
}

.tag-input input {
    outline: none;
    border: none;
    border-top:0px; 
    border-left:0px; 
    border-bottom:0px;
    padding: 7px 0 7PX 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f6f6f6;
}

.post-thumb-submit {
    margin-top: 10px;
}

.btn-remove {
    margin-left: 5px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.mat-dialog-actions {
    padding: 40px 0 20px 0;
}

.margin-top {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

@media(max-width: 1000px) {
    .publish-content {
        flex-direction: column;
    }
}