.btn {
    display: flex;
    align-items: center;
    margin-right: 16px;
    cursor: pointer;

    input {
        font-size: 16px;
        display: inline-block;
        vertical-align: middle;
        width: 1px;
        height: 35px;
        border: none;
        -webkit-transition: width .2s,padding .2s;
        transition: width .2s,padding .2s;
        cursor: pointer;
        padding-left: 1px;
        padding-right: 0;

        &:focus {
            outline: none;
        }

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            display: none; 
        }
    }
}

@media(max-width: 1000px) {
    .btn {
        input { display: none; }
    }
}