<div class="contents-posts">
    <div class="user-tags-container">
        <div class="user-tags" #userTags>
            <div class="tags-title">
                태그 목록
            </div>
            <app-user-home-tags *ngIf="tags"[username]=username [tags]=tags (onSelected)=getUserPostsByTagName($event)></app-user-home-tags>
            <app-loading-tags *ngIf="!tags"></app-loading-tags>
        </div>
    </div>    
    <div class="posts-item"
        infiniteScroll
        [infiniteScrollDistance]="0"
        [infiniteScrollThrottle]="100"
        (scrolled)=onScroll()>
        <ng-container *ngFor="let post of posts">
            <app-preview [post]=post></app-preview>
        </ng-container>
        <app-loading-posts *ngIf="!isLoaded"></app-loading-posts>
    </div>
</div>
