.contents-posts {
    width:auto;
    display: flex;
    flex-direction: row;
}

.posts-item {
    min-width: 700px;
    padding: 15px 10px 15px 10px;
}


@media(max-width: 1000px) {
    app-user-home-tags {
        display: none;
    }

    .posts-item {
        min-width: 350px;
    }
}