
.user-home-tags {
    margin: 40px 40px 0 0;
    width: 170px;
    &-fixed {
        width: 170px;
    }
    .name {
        display: -webkit-box;
        line-height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .title {
        padding-bottom: 10px;
        font-weight: 500;
        border-bottom: 1px solid rgba(0,0,0,.15);
    }
    .count {
        padding-left: 5px;
    }
    .mat-list-item {
        height: 30px !important;
    }
}


:host::ng-deep.mat-list-item-content{
    padding: 0 !important;
}

@media(max-width: 1000px) {
    .user-home-tags {
        display: none;
    }
}