
<div class="user-home-tags">
    <div class="user-home-tags-fixed" #userTags>
        <div class="title">
            태그 목록
        </div>
        <mat-action-list>
            <a mat-list-item [routerLink]="['/', '@'+username]">
                <span class="name">전체보기</span> 
            </a>
            <a mat-list-item *ngFor="let tag of tags" [title]="tag.name"
                [routerLink]="['tag', tag.name.replace('#', '')]">
                <span class="name"># {{ tag.name | removeHash }}</span> 
                <span class="count">({{ tag.count }})</span>
            </a>
        </mat-action-list>
    </div>  
</div>    