<li class="list-item">
    <div class="item-right">
        <div class="item-title">
            이름
        </div>
        <input class="settings-input" [value]=name disabled>
    </div>
    <div class="item-left">
        <button mat-flat-button class="settings-edit">수정</button>
        <div class="settings-btn-set">
            <button mat-flat-button color="primary" class="settings-save">저장</button>
            <button mat-flat-button class="settings-cancel">취소</button>
        </div>
    </div>
</li>