.mat-chip {
    font-weight: 400 !important;
    color: rgba(0, 0, 0, 0.54) !important;
    background: rgba(0, 0, 0, 0.1) !important;
    border-radius: 3px !important;
    cursor: pointer !important;
}