.post-header {
    fa-icon {
        color: #535353;
        margin: 0.4rem;
        font-size: 1.2rem !important;
    }

    .private {
        font-weight: 500;
        color: gray;
    }

    .title {
        display: flex;
        align-items: center;
        font-family: 'Noto Serif KR', serif;
        font-size: 40px;
        margin-top: 0;
    }

    .user {
        display: flex;
        align-items: center;
        height:80px;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    .info {
        margin-left: 1.2rem;
    }
    
    .created {
        font-size: 14px;
        color: #7a7a7a;
    }
    
    .username {
        font-size: 16px;
        font-weight: bold;
    }
    
    .avatar {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
    
    .spacer {
        flex-grow: 1;
    }
    
}

@media (max-width: 720px) {
    .post-title {
        font-size: 30px;
    }

    .post-user {
        margin-bottom: 0rem;
    }

    .user-sns-small {
        display: block;
        margin-bottom: 5rem;
    }
}
