<nav class="navbar mat-elevation-z6">
    <div class="main-nav">
        <a routerLink="/" mat-button class="nav-logo">
            <fa-icon [icon]="faBookOpen" size="lg"></fa-icon> gleLog
        </a>
        <a routerLink="/" mat-button class="nav-small-hide">글목록</a>
        <a mat-button class="nav-small-hide">태그목록</a>
        <div class="nav-spacer"></div>
        <a mat-button>로그인</a>
    </div>
    <div class="sub-nav nav-small-show">
        <a mat-button class="nav-link">글목록</a>
        <a mat-button class="nav-link">태그목록</a>
    </div>
</nav>
