<footer *ngIf="display" class="main-footer">
    <div class="footer-list">
        <div class="footer-logo">
            <a routerLink="/"><fa-icon [icon]="faBookOpen" size="lg"></fa-icon> gleLog</a>
        </div>
        <div class="footer-link">
            <button mat-button href="https://github.com/spectre3130/glelog">
                <fa-icon [icon]="faGithub" size="lg"></fa-icon>
            </button>
        </div>
        <div class="footer-copyright">
            <span>© 2020 gleLog</span>
        </div>
    </div>
</footer>
