.main-footer {
    padding: 12px;
    color: white;
    background-color: #673ab7;
}

.footer-list {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    padding: 8px;
}

.footer-logo {
    font-weight: 500;
    font-size:20px;
    flex:1;
}

.footer-link {
    display:flex;
    justify-content: center;
    align-items: center;
    flex:1;
}

.footer-copyright {
    display: flex;
    flex:1;
    justify-content: flex-end;
    font-size:12px;
}

@media(max-width: 1000px) {
    .main-footer {
        display: none;
    }
}