<li class="list-item">
    <div class="item-right">
        <div class="item-title">
            프로필 사진
        </div>
        <div>
            <img *ngIf="avatar; else loading" class="avatar" [src]=avatar>
        </div>
    </div>
    <div class="item-left">
        <input type="file" accept="image/*" #avatarInput (change)=onChangeAvatar(avatarInput.files)>
        <button mat-flat-button (click)=avatarInput.click()>수정</button>
    </div>
</li>

<ng-template #loading>
    <div class="loading">
        <mat-spinner
            [color]="'accent'"
            [diameter]=105>
        </mat-spinner>
    </div>
</ng-template>