<ng-container *ngFor="let loader of repeat">
    <div class="animated-background">
        <div class="background-masker top-padding"></div>
        <div class="background-masker title"></div>
        <div class="background-masker title-line"></div>
        <div class="background-masker content-first"></div>
        <div class="background-masker content-first-line"></div>
        <div class="background-masker content-second"></div>
        <div class="background-masker content-second-line"></div>
        <div class="background-masker content-third"></div>
        <div class="background-masker username-left"></div>
        <div class="background-masker username-right"></div>
        <div class="background-masker username-line"></div>
        <div class="background-masker time-left"></div>
        <div class="background-masker time-right"></div>
        <div class="background-masker time-line"></div>
        <div class="background-masker bottom-padding"></div>
    </div>
</ng-container>
