<button *ngIf="!user" (click)="openDialog()" mat-button>
    <fa-icon [icon]="faUser" size="lg"></fa-icon>
    <span class="menu-name">로그인</span>
</button>
<ng-container *ngIf="user">
    <div class="user-info" [matMenuTriggerFor]="menu">
        <img *ngIf="avatar" class="user-avatar" [src]=avatar [alt]=user.username>
        <div *ngIf="!avatar" class="loading-avatar">
            <mat-spinner
                [color]="'accent'"
                [diameter]=32>
            </mat-spinner>
        </div>
        <fa-icon [icon]="faCaretDown" size="lg"></fa-icon>
    </div>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/', user.username]">
            <span class="menu-name">내 블로그</span>
        </button>
        <button mat-menu-item routerLink="/write">
            <span class="menu-name">글쓰기</span>
        </button>
        <button mat-menu-item routerLink="/me/settings">
            <span class="menu-name">설정</span>
        </button>
        <button mat-menu-item (click)="logout()">
            <span class="menu-name">로그아웃</span>
        </button>
    </mat-menu>
</ng-container>