<button *authenticated="false" mat-button (click)="openLoginDialog()">
    <mat-icon>account_circle</mat-icon>
    <span class="login">로그인</span>
</button>

<div *authenticated="true" class="authed" [matMenuTriggerFor]="menu">
    <img *ngIf="user.avatar; else loading" class="avatar" [src]="user.avatar" [alt]="user.username">
    <mat-icon>arrow_drop_down</mat-icon>
</div>
<mat-menu #menu="matMenu">
    <div class="user">
        <div class="username">{{ user.username }}님 🙂</div>
        <div class="greeting">오늘도 좋은 글과 함께해요</div>
    </div>
    <button *ngFor="let node of homeNodes"
        mat-menu-item
        (click)="navigate(node.action, node.link)">
        <mat-icon>{{ node.icon }}</mat-icon>
        <span>{{ node.name }}</span>
    </button>
    <mat-divider></mat-divider>
    <button *ngFor="let node of writeNodes"
        mat-menu-item
        (click)="navigate(node.action, node.link)">
        <mat-icon>{{ node.icon }}</mat-icon>
        <span>{{ node.name }}</span>
    </button>
    <mat-divider></mat-divider>
    <button *ngFor="let node of userNodes"
        mat-menu-item
        (click)="navigate(node.action, node.link)">
        <mat-icon>{{ node.icon }}</mat-icon>
        <span>{{ node.name }}</span>
    </button>
</mat-menu>

<ng-template #loading>
    <div class="loading">
        <mat-spinner
            [color]="'accent'"
            [diameter]=32>
        </mat-spinner>
    </div>
</ng-template>