.post-container {
    min-height: 1000px;
    margin-top: 30px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.post {
    width:768px;
}

@media (max-width: 720px) {
    :host(app-post) {
        width: 100%;
    }
}

@media (max-width: 832px) {
    .post {
        width: inherit;
    }
}