<div *ngIf="!isNotFound" class="container">
    <div *ngIf="post" class="post">
        <span *ngIf="!post.open" class="private">비공개</span>
        <h1 class="post-title"> 
            {{ post.title }}
        </h1>
        <div class="post-user">
            <a [routerLink]="['', post.user.username | at]">
                <img class="post-user-avatar" src="{{ post.user.avatar }}">
            </a>
            <div class="post-user-info">
                <a [routerLink]="['', post.user.username | at]" class="post-username">{{ post.user.username }}</a>
                <div class="post-time">{{ post.created_at | postDate }}</div>
            </div>
            <div class="post-user-spacer"></div>
            <div class="post-user-sns">
                <a *ngIf="post.user.instagram" href="https://www.instagram.com/{{ post.user.instagram }}">
                    <fa-icon [icon]="faInstagram" size="lg"></fa-icon>
                </a>
                <a *ngIf="post.user.facebook" href="https://www.facebook.com/{{ post.user.facebook }}">
                    <fa-icon [icon]="faFacebook" size="lg"></fa-icon>
                </a>
                <a *ngIf="post.user.github" href="https://www.github.com/{{ post.user.github }}">
                    <fa-icon [icon]="faGithub" size="lg"></fa-icon>
                </a>
            </div>
        </div>
        <div class="post-body">
            <markdown ngPreserveWhitespaces [data]="post.body"></markdown>
        </div>
        <div class="post-tags">
            <mat-chip-list>
                <a mat-chip *ngFor="let tag of post.tags" [routerLink]="['/tag', tag | removeHash]">
                    <span class="tag-name">{{ tag }}</span>
                </a>
            </mat-chip-list>
        </div>
    </div>
    <div *ngIf="post" class="user">
        <a [routerLink]="['', post.user.username | at]">
            <img class="user-avatar" src="{{ post.user.avatar }}">
        </a>
        <div class="user-info">
            <a [routerLink]="['', post.user.username | at]" class="username">{{ post.user.username }}</a>
            <p class="description">{{ post.user.description }}</p>
        </div>
    </div>
</div>
<app-page-not-found *ngIf="isNotFound"></app-page-not-found>