<article *ngIf="post" class="post-preview">
    <div class="post">
        <a [routerLink]="['/post', post.slug]">
            <div class="post-title-wrapper">
                <fa-icon *ngIf="!post.open" [icon]="faLock" size="sm"></fa-icon>
                <h1 class="post-title">
                    {{ post.title }}
                </h1>
            </div>
        </a>
        <div class="post-user">
            <a [routerLink]="['/', post.user.username | at]">
                <img class="avatar" src="{{ post.user.avatar }}">
            </a>
            <div class=info>
                <a [routerLink]="['/', post.user.username | at]">
                    <div class="user-name">{{ post.user.username }}</div>
                </a>
                <div class="post-time">{{ post.created_at | postDate }}</div>
            </div>
        </div>
        <div class="post-description">{{ post.description }}</div>
        <div class="post-tags">
            <mat-chip-list>
                <a mat-chip *ngFor="let tag of post.tags" 
                    [routerLink]="['/tag', tag | removeHash]">
                    <span class="tag-name">{{ tag }}</span>
                </a>
            </mat-chip-list>
        </div>
    </div>
    <a *ngIf="post.thumb" [routerLink]="['/post', post.slug]" class="thumb-link">
        <img *ngIf="post.thumb" class="post-thumb" [src]=post.thumb>
    </a>
</article>