<article class="post-preview">
    <div class="preview">
        <div class="preview-top">
            <div class="left">
                <a [routerLink]="['/', post.user.username | at, 'post', post.slug]">
                    <div class="title">
                        <fa-icon *ngIf="!post.open" [icon]="faLock" size="sm"></fa-icon>
                        <h1>{{ post.title }}</h1>
                    </div>
                </a>
                <div class="user">
                    <a [routerLink]="['/', post.user.username | at]">
                        <img class="avatar" src="{{ post.user.avatar | imageOptimizer: 140 }}">
                    </a>
                    <div class=info>
                        <a [routerLink]="['/', post.user.username | at]">
                            <div class="username">{{ post.user.username }}</div>
                        </a>
                        <div class="created">{{ post.created_at | postDate }}</div>
                    </div>
                </div>
            </div>
            <a *ngIf="post.thumb" class="thumb-link-small"
                [routerLink]="['/', post.user.username | at, 'post', post.slug]">
                <img class="post-thumb" [src]="post.thumb | imageOptimizer: 150">
            </a>
        </div>
        <div class="preview-bottom">
            <div class="description">{{ post.description }}</div>
            <div class="tags">
                <mat-chip-list>
                    <a mat-chip *ngFor="let tag of post.tags" [routerLink]="['/tag', tag | removeHash]">
                        <span class="name">{{ tag }}</span>
                    </a>
                </mat-chip-list>
            </div>
        </div>
    </div>
    <a *ngIf="post.thumb" class="thumb-link" [routerLink]="['/', post.user.username | at, 'post', post.slug]">
        <img class="post-thumb" [src]="post.thumb | imageOptimizer: 150">
    </a>
</article>