.post-preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 700px;
    height: 120px;
    padding: 15px 0 15px 0;
}

.post-thumb {
    width: 120px;
    height: 120px;
}

.post-title {
    margin: 5px 0px 5px 0px;
    font-size: 26px;
}

.post-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.user-name {
    font-size: 16px;
    font-weight: 600;
}
.post-time {
    font-size: 14px;
    color: #6f6f6f;
}
.post-tags {
    padding: 5px 0 5px 0;
}
.mat-chip {
    min-height: 25px !important;
}
@media (max-width: 1000px) {
    .post-preview {
        width:350px;
    }

    .post-thumb {
        display: none;
    }
}