.post-preview {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    width: 700px;
    padding: 15px 0 15px 0;
}

.post {
    width:580px;
    height: 100%;
    padding-right: 20px;
}

.post-thumb {
    width: 140px;
    height: 135px;
    object-fit: cover;
}

.post-title {
    margin: 5px 0px 5px 0px;
    font-size: 26px;
}

.post-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-description {
    padding: 8px 0 8px 0;
    font-size: 14px;
}
.avatar {
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.user-name {
    font-size: 16px;
    /* font-weight: 600; */
}
.post-time {
    font-size: 14px;
    color: #6f6f6f;
}

.post-tags {
    padding: 5px 0 5px 0;
}

.mat-chip {
    padding: 7px !important;
    min-height: 25px !important;
}

@media (max-width: 1000px) {
    .post-preview {
        width:350px;
    }

    .post-thumb {
        width:80px;
        height:75px;
        /* display: none; */
    }
}