:host(app-write) {
  width: 100vw;
  height: 100vh;
  .write {
    display: flex;
    flex-direction: row;

    .editor {
      width: 50%;
      &-fixed {
        @extend .editor;      
        position: fixed;
        padding: 0 0 0 10px;
        border-right: 1px solid #ccc;
        background-color: #f6f6f6;
      }
    }

    .preview {
      @extend .editor;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      padding: 0 20px 0 20px;
    }
  }
}

@media(max-width: 1680px) {
  .write {
    .preview {
      display: block !important;
    }
  }
}

@media(max-width: 1000px) {  
  .write {
    .editor { 
      width:100%; 
      &-fixed { padding: 0 10px 0 10px; }
    }
    .preview { display:none; }
  }
}