<div class="md-editor">
    <div class="editor-write">
        <div class="title-input-wrapper">
            <input type="text" class="title-input" placeholder="제목" [value]="title" (keyup)="onTitleChange($event)">
        </div>
        <ngx-codemirror
            [ngModel]=body
            (ngModelChange)=onBodyChange($event)
            [autoFocus]="true"
            [name]="'editor'"
            [options]=codeMirrorOptions>
        </ngx-codemirror>
    </div>
    <div class="editor-spacer"></div>
    <div class="editor-preview">
        <h1 class="title-view">{{ title }}</h1>
        <markdown class="body-view" 
            ngPreserveWhitespaces [data]="body">
        </markdown>
    </div>
</div>