.contents-posts {
    display: flex;
    flex-direction: row;
    width:auto;
}

.posts-item {
    padding: 15px 10px 15px 10px;
    width: 700px;
}

@media(max-width: 1000px) {
    app-popular-posts {
        display: none;
    }

    .posts-item {
        padding: 5px 10px 5px 10px;
        width: 350px;
    }
}
