<div class="my-writing">
    <div class="header">
        내 글 모음
    </div>
    <nav mat-tab-nav-bar>
        <a class="link" 
            mat-tab-link
            *ngFor="let node of nodes"    
            [routerLink]="['/me/writing', node.action]"
            [active]="activeLink === node.action"
            (click)="activeLink = node.action">
            {{ node.name }}
        </a>
    </nav>  
    <router-outlet #outlet="outlet"
        (activate)=onActivate($event)>
    </router-outlet>
</div>