.my-writing-container {
    width: 700px;
}

.my-writing-header {
    font-size: 26px;
    font-weight: bold;
    padding: 40px 0 30px;
}

.mat-tab-link  {
    min-width: 100px !important;
    height: 30px !important;
}


@media(max-width: 1000px) {
    .my-writing-container {
        width: 350px;
    }
}