.main-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    height: 38px;
    .title {
        font-family: 'Poor Story';
        font-size: 26px;
    }
    .spacer {
        flex-grow: 1;
    }
}

.mobile-nav {
    display:none;
    .link {
        flex: 1;
    }
}

@media (max-width: 1000px) {
    .mobile-nav {
        display:flex;
    }
    .main-nav {
        .link {
            display:none;
        }
    }   
}