<div class="main-nav">
    <a routerLink="/" mat-button class="nav-logo">
        <fa-icon [icon]="faBookOpen" size="lg"></fa-icon> gleLog
    </a>
    <a routerLink="/" mat-button class="nav-small-hide">글목록</a>
    <a routerLink="/tags" mat-button class="nav-small-hide">태그목록</a>
    <div class="nav-spacer"></div>
    <app-user-nav></app-user-nav>
</div>
<div class="nav-small-show">
    <a routerLink="/" mat-button class="nav-link">글목록</a>
    <a routerLink="/tags" mat-button class="nav-link">태그목록</a>
</div>