<div class="main-nav">
    <button class="title" mat-button routerLink="/">
        글로그
    </button>
    <button *ngFor="let node of nodes"
        mat-button
        [class]="node.class"
        [routerLink]="node.action">
        {{ node.name }}
    </button>
    <div class="spacer"></div>
    <app-search-button></app-search-button>
    <app-alarm-button></app-alarm-button>
    <app-user-nav></app-user-nav>
</div>
<div class="mobile-nav">
    <button *ngFor="let node of nodes"
        mat-button
        [class]="node.class"
        [routerLink]="node.action">
        {{ node.name }}
    </button>
</div>