/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif, 'Noto Sans KR'; }
a { color: inherit; background-color: transparent; text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }

markdown a{
    color: #673BB7; 
    text-decoration: none; 
}

markdown img {
    max-width: 100%;
}

markdown h1 {
    font-size: 1.7em
}

markdown {
    font-size: 18px;
    font-family: 'Noto Serif KR', serif;
    line-height: 1.6;
    word-break: break-all;
}
  
code[class*="language-"], pre[class*="language-"]  {
    font-size: 14px !important;
}

/* pre[class*="language-"] {
    font-size: 14px !important;
}  */

glelog-app {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 54px;
    bottom: 0;    
    left: 0;
    right: 0;
}

@media (max-width: 1000px) {
    glelog-app {
        top: 90px;
    }
}

.input-file {
    display: none;
}

.mat-sidenav-content::-webkit-scrollbar, 
.tag-input::-webkit-scrollbar, 
.body-input::-webkit-scrollbar, 
.editor-preview::-webkit-scrollbar, 
body::-webkit-scrollbar, 
mat-sidenav.sidenav::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

.mat-sidenav-content::-webkit-scrollbar-thumb, 
.tag-input::-webkit-scrollbar-thumb,
.body-input::-webkit-scrollbar-thumb,
.editor-preview::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb, 
mat-sidenav.sidenav::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
    outline: #444 solid 1px;
}

.mat-sidenav-content::-webkit-scrollbar-track,
.tag-input::-webkit-scrollbar-track, 
.body-input::-webkit-scrollbar-track, 
.editor-preview::-webkit-scrollbar-track, 
body::-webkit-scrollbar-track, 
mat-sidenav.sidenav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

body {
    -webkit-font-smoothing: antialiased;   
}