.settings-input {
    background: #ffffff !important;
    display: block;
    outline: 0;
    cursor: default;
    font-size: 16px;
    border: none;
    padding: 0;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    width:100%;
}

@media(max-width:768px) {
    .settings-input {
        width:160px;
    }
}