<div class="user-home-header">
    <div class="user">
        <div class="username">
            {{ user.username }}
        </div>
        <div class="description">
            {{ user.description }}
        </div>
        <div class="sns">
            <a *ngIf="user.instagram" href="https://www.instagram.com/{{ user.instagram }}">
                <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
            </a>
            <a *ngIf="user.facebook" href="https://www.facebook.com/{{ user.facebook }}">
                <fa-icon [icon]="faFacebook" size="2x"></fa-icon>
            </a>
            <a *ngIf="user.github" href="https://www.github.com/{{ user.github }}">
                <fa-icon [icon]="faGithub" size="2x"></fa-icon>
            </a>
        </div>
    </div>
    <img class="avatar" [src]=user.avatar [alt]=user.username>
</div>

