<h3 class="title">
    글로그 시작하기
</h3>
<p>
    시간은 금이라구 친구!!!
</p>
<div class="btn-group">
    <button mat-flat-button color="primary" (click)="login('google')">
        <div class="login-icon">
            <fa-icon [icon]="faGoogle" size="lg"></fa-icon>
        </div>
        구글로 시작하기
    </button>
    <button mat-flat-button color="primary" (click)="login('facebook')" disabled>
        <div class="login-icon">
            <fa-icon [icon]="faFacebook" size="lg"></fa-icon>
        </div>
        페이스북으로 시작하기
    </button>
    <button mat-flat-button color="primary" (click)="login('github')" disabled>
        <div class="login-icon">
            <fa-icon [icon]="faGithub" size="lg" ></fa-icon>
        </div>
        깃허브로 시작하기
    </button>
</div>

