.write-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    height: 38px;
    .name { 
        margin-left: 10px;
    }
    .nav-spacer {
        flex-grow: 1;
    }
}


.mobile-nav {
    display:none;
    .link {
        flex: 1;
    }
}

@media (max-width: 1000px) {
    .mobile-nav {
        display: flex;
    }   
    .write-nav {
        .link { display:none; }
    }
}