.write-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    height: 38px;
}

.nav-spacer {
    flex-grow: 1;
}

.nav-small-show {
    display:none;
}

.menu-name { 
    margin-left: 10px;
}

.nav-link {
    flex: 1;
    color: #fff !important;
}

@media (max-width: 1000px) {
    .nav-small-show {
        display:flex;
    }   
    .nav-small-hide {
        display:none;
    }
}