<div class="write-nav">
    <button mat-button (click)="cancelConfirm()">
        <fa-icon [icon]="faArrowLeft" size="lg"></fa-icon>
        <span class="name">뒤로가기</span>
    </button>
    <input type="file" accept="image/*" #postImage (change)=savePostImage(postImage.files)>
    <button class="link"
        mat-button 
        (click)=postImage.click()>
        이미지
    </button>
    <button class="link"
        mat-button 
        (click)="publish()" 
        [disabled]="disabled">{{ btnName }}
    </button>
    <div class="nav-spacer"></div>
    <app-user-nav></app-user-nav>
</div>
<div class="mobile-nav">
    <button class="link"
        mat-button 
        (click)=postImage.click()>
        이미지
    </button>
    <button class="link" 
        mat-button 
        (click)="publish()" 
        [disabled]="disabled">
        {{ btnName }}
    </button>
</div>

