<ng-container *ngIf="post">
    <div class="writing">
        <h3 (click)="edit(post)" class="writing-title">
            {{ post.title }}
        </h3>
        <div class="writing-description">
            {{ post.description }}
        </div>
        <div class="writing-info">
            <div class="update-time">{{ post.updated_at | writeDate }} 마지막으로 편집</div>
            <fa-icon [icon]="faCaretDown" [matMenuTriggerFor]="menu" size="lg" class="btn-menu"></fa-icon>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="edit(post)">
                    <span>편집</span>
                </button>
                <button mat-menu-item (click)="delete(post)">
                    <span>삭제</span>
                </button>
            </mat-menu>
        </div>
    </div>
</ng-container>