<div class="my-writing-preview">
    <ng-container *ngIf="post.posted; else edit">
        <a [routerLink]="['/', post.user.username | at, 'post', post.slug]">
            <h3 class="title">{{ post.title }}</h3>
        </a>
    </ng-container>
    <ng-template #edit>
        <h3 class="title" (click)="onEdit(post)">{{ post.title }}</h3>
    </ng-template>
    <div class="description">
        {{ post.description }}
    </div>
    <div class="info">
        <div class="update-time">
            {{ post.updated_at | postDate }} 마지막으로 편집
        </div>
        <fa-icon class="btn"
            size="lg"
            [icon]="faCaretDown" 
            [matMenuTriggerFor]="menu">
        </fa-icon>
    </div>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onEdit(post)">
        <mat-icon>edit</mat-icon>
        <span>편집</span>
    </button>
    <button mat-menu-item (click)="onDelete(post)">
        <mat-icon>delete</mat-icon>
        <span>삭제</span>   
    </button>
</mat-menu>