.my-writing-preview {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .title {
        cursor: pointer;
        margin: 0;    
    }
    .description {
        padding: 8px 0 8px 0;
        font-size: 14px;    
    }
    .info {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #6f6f6f;
        .btn {
            cursor: pointer;
            padding: 0 10px 0 10px;
        }
    }
}